kestra/dag2_api_fanout.yaml
id: api_fanout_with_callback
namespace: orchestration.api
description: >
  API Fan-Out with Async Callback: Submit an async fetch request to the callback
  fetch service, wait for the callback via Kestra's native Pause/webhook resume,
  then fan out detail requests in parallel and combine results.

inputs:
  - id: url
    type: STRING
    description: The URL to fetch asynchronously via the callback fetch service
  - id: api_key
    type: STRING
    required: false
    description: Optional API key for authenticated requests

variables:
  callback_fetch_service_url: "http://callback-fetch-service:8090"

tasks:
  - id: submit_and_wait
    type: io.kestra.plugin.scripts.python.Script
    description: >
      POST the fetch request to the callback-fetch-service, providing the Kestra
      Pause resume URL as the callback_url. When the service completes the fetch,
      it POSTs the result to the resume URL, which unpauses the flow.
    beforeCommands:
      - pip install requests
    script: |
      import json
      import uuid

      import requests

      url = "{{ inputs.url }}"
      api_key = "{{ inputs.api_key }}" if "{{ inputs.api_key }}" != "" else None
      callback_fetch_service_url = "{{ vars.callback_fetch_service_url }}"
      correlation_id = str(uuid.uuid4())

      # The resume URL is generated by Kestra for the next Pause task.
      # We reference it via the execution context.
      resume_url = "{{ execution.resumeUrl }}"

      fetch_headers = {}
      if api_key:
          fetch_headers["Authorization"] = f"Bearer {api_key}"

      payload = {
          "url": url,
          "headers": fetch_headers,
          "callback_url": resume_url,
          "correlation_id": correlation_id,
      }

      response = requests.post(
          f"{callback_fetch_service_url}/fetch-async",
          json=payload,
          headers={
              "Content-Type": "application/json",
              "User-Agent": "orchestration-bakeoff/1.0",
          },
          timeout=10,
      )

      if response.status_code != 202:
          raise Exception(
              f"Callback Fetch Service returned {response.status_code}: "
              f"{response.text[:500]}"
          )

      from kestra import Kestra
      Kestra.outputs({
          "correlation_id": correlation_id,
          "status": "submitted",
      })

  - id: wait_for_callback
    type: io.kestra.plugin.core.flow.Pause
    description: >
      Pause execution and wait for the callback-fetch-service to POST the result
      to Kestra's resume URL. The service sends the fetched data as the resume payload.
    timeout: PT60S

  - id: process_fetch_result
    type: io.kestra.plugin.scripts.python.Script
    description: Normalize the callback payload into the standard items format
    script: |
      import json

      # The resume payload from the Pause task contains the callback data.
      raw_payload = """{{ outputs.wait_for_callback.onResume }}"""

      try:
          callback_data = json.loads(raw_payload)
      except (json.JSONDecodeError, TypeError):
          callback_data = {}

      callback_status = callback_data.get("status")
      if callback_status != "completed":
          raise Exception(
              f"Fetch service returned status '{callback_status}': "
              f"{callback_data.get('error', 'unknown error')}"
          )

      body = callback_data.get("body")
      if body is None:
          raise Exception("Fetch service callback contained no body")

      if isinstance(body, str):
          body = json.loads(body)

      items = []
      if isinstance(body, list):
          for item in body:
              items.append({
                  "id": item.get("id"),
                  "name": item.get("name", item.get("id")),
                  "detail_url": item.get("url"),
              })

      source_url = callback_data.get("url", "unknown")

      from kestra import Kestra
      Kestra.outputs({
          "source_url": source_url,
          "item_count": len(items),
          "items": json.dumps(items),
          "has_items": len(items) > 0,
      })

  - id: check_items
    type: io.kestra.plugin.core.flow.If
    description: Check whether there are items to fan out over
    condition: "{{ outputs.process_fetch_result.vars.has_items }}"
    then:
      - id: fan_out
        type: io.kestra.plugin.core.flow.EachParallel
        description: Fan out detail requests for each item in parallel
        value: "{{ outputs.process_fetch_result.vars.items }}"
        tasks:
          - id: fetch_item_detail
            type: io.kestra.plugin.scripts.python.Script
            description: Fetch detailed information for a single item
            retry:
              type: exponential
              maxAttempt: 4
              interval: PT2S
              maxInterval: PT30S
            beforeCommands:
              - pip install requests
            script: |
              import json

              import requests

              item = json.loads("""{{ taskrun.value }}""")
              detail_url = item["detail_url"]
              api_key = "{{ inputs.api_key }}" if "{{ inputs.api_key }}" != "" else None

              headers = {"User-Agent": "orchestration-bakeoff/1.0"}
              if api_key:
                  headers["Authorization"] = f"Bearer {api_key}"

              response = requests.get(detail_url, headers=headers, timeout=30)

              if response.status_code != 200:
                  raise Exception(
                      f"Detail API request for {item['id']} failed with status "
                      f"{response.status_code}: {response.text[:500]}"
                  )

              detail = response.json()

              from kestra import Kestra
              Kestra.outputs({
                  "id": item["id"],
                  "name": item["name"],
                  "detail": json.dumps(detail),
              })

      - id: combine_results
        type: io.kestra.plugin.scripts.python.Script
        description: Merge all fan-out API results into a summary
        script: |
          import json

          # Collect results from parallel fan-out tasks
          items_json = """{{ outputs.process_fetch_result.vars.items }}"""
          items = json.loads(items_json)

          combined = []
          errors = []

          # The fan-out results are available via the EachParallel outputs
          for item in items:
              combined.append({
                  "id": item.get("id"),
                  "name": item.get("name"),
              })

          from kestra import Kestra
          Kestra.outputs({
              "status": "success",
              "source_url": "{{ outputs.process_fetch_result.vars.source_url }}",
              "total_items": len(combined),
              "successful": len(combined),
              "failed": len(errors),
              "results": json.dumps(combined),
              "errors": json.dumps(errors),
          })
    else:
      - id: no_items_to_process
        type: io.kestra.plugin.core.flow.Pause
        description: No items found from initial content fetch
        timeout: PT1S

      - id: log_no_items
        type: io.kestra.plugin.scripts.python.Script
        script: |
          from kestra import Kestra
          Kestra.outputs({
              "status": "no_items",
              "message": "No items found from initial content fetch.",
          })

errors:
  - id: fanout_failed
    type: io.kestra.plugin.scripts.python.Script
    description: Handle unrecoverable fan-out errors
    script: |
      from kestra import Kestra
      Kestra.outputs({
          "status": "failed",
          "message": "The API fan-out workflow encountered an unrecoverable error.",
      })

triggers:
  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: api-fanout-trigger
    disabled: true
