step-functions/dag4-order-fulfillment/state-machine.asl.json
{
  "Comment": "Order Fulfillment: Validate, reserve inventory, optional manager approval (async), ship with saga compensation",
  "StartAt": "ValidateOrder",
  "TimeoutSeconds": 600,
  "States": {
    "ValidateOrder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ValidateOrderFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 30,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "OrderFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckValidation"
    },

    "CheckValidation": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validation.is_valid",
          "BooleanEquals": true,
          "Next": "ReserveInventory"
        }
      ],
      "Default": "OrderValidationFailed"
    },

    "OrderValidationFailed": {
      "Type": "Fail",
      "Error": "OrderValidationFailed",
      "Cause": "Order failed validation checks. No side effects to compensate."
    },

    "ReserveInventory": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${ReserveInventoryStateMachineArn}",
        "Input": {
          "order_id.$": "$.order_id",
          "items.$": "$.items",
          "db_config.$": "$.db_config",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "ResultSelector": {
        "reservation_id.$": "$.Output.reservation_id",
        "items_reserved.$": "$.Output.items_reserved",
        "reserved_at.$": "$.Output.reserved_at"
      },
      "ResultPath": "$.reservation",
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "OrderFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckApprovalRequired"
    },

    "CheckApprovalRequired": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.total_amount",
          "NumericGreaterThanEqualsPath": "$.approval_threshold",
          "Next": "ManagerApproval"
        }
      ],
      "Default": "CallShippingAPI"
    },

    "ManagerApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${ManagerApprovalStateMachineArn}",
        "Input": {
          "order_id.$": "$.order_id",
          "customer_id.$": "$.customer_id",
          "total_amount.$": "$.total_amount",
          "items.$": "$.items",
          "db_config.$": "$.db_config",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "ResultSelector": {
        "decision.$": "$.Output.decision",
        "approver.$": "$.Output.approver",
        "reason.$": "$.Output.reason",
        "decided_at.$": "$.Output.decided_at"
      },
      "ResultPath": "$.approval",
      "TimeoutSeconds": 180,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensateFromApproval",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckApprovalDecision"
    },

    "CheckApprovalDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.approval.decision",
          "StringEquals": "approved",
          "Next": "CallShippingAPI"
        }
      ],
      "Default": "CompensateFromApproval"
    },

    "CompensateFromApproval": {
      "Type": "Pass",
      "Parameters": {
        "order_id.$": "$.order_id",
        "reservation_id.$": "$.reservation.reservation_id",
        "items.$": "$.items",
        "db_config.$": "$.db_config",
        "failure_reason": "Order rejected or approval timed out",
        "approval.$": "$.approval"
      },
      "Next": "ReleaseInventory"
    },

    "CallShippingAPI": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${ShippingStateMachineArn}",
        "Input": {
          "order_id.$": "$.order_id",
          "items.$": "$.items",
          "shipping_address.$": "$.shipping_address",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "ResultSelector": {
        "shipment_id.$": "$.Output.shipment_id",
        "tracking_number.$": "$.Output.tracking_number",
        "carrier.$": "$.Output.carrier",
        "estimated_delivery.$": "$.Output.estimated_delivery"
      },
      "ResultPath": "$.shipment",
      "TimeoutSeconds": 120,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensateFromShipping",
          "ResultPath": "$.error"
        }
      ],
      "Next": "UpdateOrderShipped"
    },

    "CompensateFromShipping": {
      "Type": "Pass",
      "Parameters": {
        "order_id.$": "$.order_id",
        "reservation_id.$": "$.reservation.reservation_id",
        "items.$": "$.items",
        "db_config.$": "$.db_config",
        "failure_reason.$": "$.error.Cause"
      },
      "Next": "ReleaseInventory"
    },

    "ReleaseInventory": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ReleaseInventoryFunctionArn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 30,
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 3,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensationFailed",
          "ResultPath": "$.compensation_error"
        }
      ],
      "Next": "UpdateOrderCancelled"
    },

    "UpdateOrderCancelled": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${UpdateOrderStatusFunctionArn}",
        "Payload": {
          "order_id.$": "$.order_id",
          "status": "cancelled",
          "failure_reason.$": "$.failure_reason",
          "db_config.$": "$.db_config"
        }
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 30,
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensationFailed",
          "ResultPath": "$.compensation_error"
        }
      ],
      "Next": "SendCancellationNotification"
    },

    "SendCancellationNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SendOrderNotificationFunctionArn}",
        "Payload": {
          "order_id.$": "$.order_id",
          "status": "cancelled",
          "failure_reason.$": "$.failure_reason"
        }
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 30,
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "OrderCancelled",
          "ResultPath": "$.notification_error"
        }
      ],
      "Next": "OrderCancelled"
    },

    "UpdateOrderShipped": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${UpdateOrderStatusFunctionArn}",
        "Payload": {
          "order_id.$": "$.order_id",
          "status": "shipped",
          "shipment_id.$": "$.shipment.shipment_id",
          "tracking_number.$": "$.shipment.tracking_number",
          "db_config.$": "$.db_config"
        }
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 30,
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CompensateFromShipping",
          "ResultPath": "$.error"
        }
      ],
      "Next": "SendShippedNotification"
    },

    "SendShippedNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SendOrderNotificationFunctionArn}",
        "Payload": {
          "order_id.$": "$.order_id",
          "status": "shipped",
          "tracking_number.$": "$.shipment.tracking_number",
          "carrier.$": "$.shipment.carrier",
          "estimated_delivery.$": "$.shipment.estimated_delivery"
        }
      },
      "OutputPath": "$.Payload",
      "TimeoutSeconds": 30,
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotificationFailed",
          "ResultPath": "$.notification_error"
        }
      ],
      "End": true
    },

    "NotificationFailed": {
      "Type": "Pass",
      "Comment": "Order shipped successfully but notification failed. Order is still valid.",
      "End": true
    },

    "OrderCancelled": {
      "Type": "Fail",
      "Error": "OrderCancelled",
      "Cause": "Order was cancelled. Inventory has been released."
    },

    "CompensationFailed": {
      "Type": "Fail",
      "Error": "CompensationFailed",
      "Cause": "Saga compensation failed. Manual intervention required."
    },

    "OrderFailed": {
      "Type": "Fail",
      "Error": "OrderFailed",
      "Cause": "Order processing failed before inventory was reserved."
    }
  }
}
